*{
  font-family: 'Roboto', sans-serif;

}

html{
  background-color: #1e1d1d;
}
#root{
  background-color: #1e1d1d;
}
.App{
  background-color: #1e1d1d;
}
body{
  background-color: #1e1d1d;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;

}



.banner{
  background-color: gray;
  width: 100%;
  height: auto;
  margin-bottom: 20px;

  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


.skillsContainer{
  background-color: #1e1d1d;
  color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  height: auto;

}

.skillObject{

  width: 325px;
  height: 150px;
  border: 1px solid black;
  color: whitesmoke;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  position: relative;
  box-shadow: 250px -200px 177px -43px rgb(20, 19, 19) inset;
-webkit-box-shadow: 250px -200px 177px -43px rgb(20, 19, 19) inset;
-moz-box-shadow: 250px -200px 177px -43px rgb(20, 19, 19) inset;
border-radius: 10px 10px 10px 0;
backdrop-filter: blur(15.1px);
-webkit-backdrop-filter: blur(15.1px);
}

.skillObject:hover{
  box-shadow: 200px -200px 175px -89px rgba(20,19,19,1) inset;
-webkit-box-shadow: 200px -200px 175px -89px rgba(20,19,19,1) inset;
-moz-box-shadow: 200px -200px 175px -89px rgba(20,19,19,1) inset;
  opacity: 1 !important;
  transition: 0.5s;
}


.iconImg{
  position: absolute;
  top: -15px;
  height: 40px;
  width: 40px;
  right: -10px;
  border-radius: 10px;
  background-color: black;
  
}

.headerName{
  color: whitesmoke;
  margin-left: 20px;
  margin-bottom: 5px;
  padding-bottom: 0;
}

.skillsText{
  opacity: 0.75;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 13px;
}













.navbarDiv{
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;
  padding: 0;
  text-align: center !important;
  background-color: rgba(30, 29, 29, 0.5)  !important;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15) !important;


}

.navbar-brand{
  color: whitesmoke !important;
}


.navbar-toggler-icon{
  color: whitesmoke !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

button.navbar-toggler.collapsed{
  color: none !important;
}

button.navbar-toggler{
  color: none whitesmoke !important;
  border: none !important;
  
}

.navbar-toggler:focus   {
  outline: none !important;
  box-shadow: none !important;
}

.container{
  background-color: rgba(30, 29, 29, 0.5)  !important;



}

.nav-link {
  color: whitesmoke !important;
  opacity: 0.5;

  border: none;
  margin-left: 1%;

}

.nav-link:hover {
  color: whitesmoke !important;
  opacity: 1;
  background-position: left;
  transition: .5s ease-out;
}

.contactInfo{
  display: flex;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #1e1d1d;
}

.contactHeader{
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  margin-top: 200px;
}


.headerSeperator{
  height: 1px;
  width: 30%;
  margin-left: 35%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  opacity: 0.5;
  margin-bottom: 40px;
  
}


.navbar-brand{

}

.headerSeperator::before{
    content: ""; 
    width: 15px;
      height: 15px;
      
      border-radius: 50%;
      position: absolute;
      margin-top: -5px;
      display: inline-block;
      background-color: whitesmoke;
      opacity: 1;
      margin-bottom: 40px;
  
}



.projectsContainerGrid{
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 24px !important;
  padding-right: 24px !important;

}

.slidein.false{
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.slidein.true{
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: 0.75s;
}

.slidein2.false{
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}

.slidein2.true{
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: 0.75s;
}


@keyframes example {
  0%   {background-color: blue;}
  25%  {background-color: blueviolet;}
  50%  {background-color: purple;}
  100% {background-color: blue}
}


.componentSeperator{
  width: 100%;
  height: 2px;
  margin-top: 3em;
  margin-bottom: 9em;
  background-color: rgb(97, 97, 97);
}
